<bean id="portResolverImpl" 
      class="org.springframework.security.util.PortResolverImpl">
    <property name="portMapper" ref="portMapperImpl"/>
</bean>
 
<bean id="portMapperImpl" 
      class="org.springframework.security.util.PortMapperImpl">
    <property name="portMappings">
        <map>
            <entry key="8080" value="8080"/>
        </map>
    </property>
</bean>

<bean id="authenticationProcessingFilterEntryPoint"
      class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
    <property name="loginFormUrl">
        <value>/login.html</value>
    </property>
    <property name="forceHttps">
        <value>false</value>
    </property>
    <property name="portMapper"   ref="portMapperImpl"  />
    <property name="portResolver" ref="portResolverImpl"/>
</bean>

<bean id="exceptionTranslationFilter" 
      class="org.springframework.security.ui.ExceptionTranslationFilter">
    <property name="authenticationEntryPoint">
        <ref local="authenticationProcessingFilterEntryPoint"/>
    </property>
    <property name="accessDeniedHandler">
        <bean class="com.jaspersoft.jasperserver.war.themes.ThemeAwareAccessDeniedHandlerImpl">
            <property name="errorPage" value="/WEB-INF/jsp/modules/system/AccessDeniedPage.jsp"/>
            <property name="themeResolver" ref="themeResolver"/>
            <property name="themeSource" ref="themeSource"/>
        </bean>
    </property>
    <property name="portResolver" ref="portResolverImpl"/>
</bean>
